.leaflet-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .leaflet-tile {
    position: absolute;
    left: 0;
    top: 0;
    width: 256px;
    height: 256px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .leaflet-tile-loaded {
    visibility: inherit;
  }
  
  .leaflet-tile-container {
    -webkit-animation: leaflet-reflection linear 15s;
    -moz-animation: leaflet-reflection linear 15s;
    animation: leaflet-reflection linear 15s;
  }
  
  .leaflet-tile.leaflet-tile-loaded {
    opacity: 1;
  }
  
  .leaflet-pane,
  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow,
  .leaflet-tile-container,
  .leaflet-pane > svg,
  .leaflet-pane > canvas,
  .leaflet-zoom-box,
  .leaflet-image-layer,
  .leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
    }
  
  .leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
  }
  
  .leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
  }
  
  .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
  }
  
  .leaflet-container {
    -webkit-tap-highlight-color: transparent;
  }
  
  .leaflet-container a {
    -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
  }
  
  .leaflet-tile {
    -webkit-filter: inherit;
    filter: inherit;
  }
  
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
  }
  
  .leaflet-container img {
    max-width: none !important;
    max-height: none !important;
  }
  
  .leaflet-container .leaflet-overlay-pane svg,
  .leaflet-container .leaflet-marker-pane img,
  .leaflet-container .leaflet-shadow-pane img,
  .leaflet-container .leaflet-tile-pane img,
  .leaflet-container img.leaflet-image-layer,
  .leaflet-container .leaflet-tile {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: double-tap-zoom;
    touch-action: double-tap-zoom;
  }
  
  .leaflet-container.leaflet-touch-drag {
    -ms-touch-action: none;
    touch-action: none;
  }
  
  .leaflet-container.leaflet-bar-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
    -ms-touch-action: double-tap-zoom;
    touch-action: double-tap-zoom;
  }
  